.form-group {
    margin-bottom: 1rem; /* Khoảng cách giữa các nhóm trường */
  }
  
  label {
    font-weight: bold; /* Định dạng nhãn để nổi bật */
  }
  
  .mb-2 {
    margin-bottom: 20px; /* Khoảng cách giữa các hình ảnh phụ */
    
  }
  .custom-widget-container {
    display: flex;
  }
  
  .custom-widget {
    width: 25%; /* Điều chỉnh độ rộng của mỗi widget tải lên ảnh phụ */
  }
  .uploaded-image {
    max-width: 15%;
    max-height: 150px; /* Điều chỉnh chiều cao nếu cần thiết */
    margin-top: 10px;
  }
  
  
 
  
  