<h2 mat-dialog-title>Add New Products</h2>
<hr>
<mat-dialog-content>
  <form [formGroup]="addNewForm">
    <div class="form-outline mb-4">
      <input formControlName="name" type="text" id="form3Example3" class="form-control form-control-lg"
        placeholder="Name" />

        <div *ngIf="addNewForm.controls['name']?.errors && addNewForm.controls['name'].dirty" class="text-danger">
          <div *ngIf="addNewForm.controls['name']?.errors?.required">Name is required</div>
        </div>
    </div>

    <div class="form-outline mb-4">
      <input formControlName="package" type="text" id="form3Example3" class="form-control form-control-lg"
        placeholder="package" />

      <div *ngIf="addNewForm.controls['package']?.errors && addNewForm.controls['package'].dirty" class="text-danger">
        <div *ngIf="addNewForm.controls['package']?.errors?.required">package is required</div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <input [min]="0" formControlName="price" type="number" id="form3Example3" class="form-control form-control-lg"
        placeholder="Price" />

      <div *ngIf="addNewForm.controls['price'].errors && addNewForm.controls['price'].dirty" class="text-danger">
        <div *ngIf="addNewForm.controls['price'].errors.required"> Price is required</div>
      </div>
    </div>
    <div class="form-outline mb-4">
      <input formControlName="qty" type="number" id="form3Example3" class="form-control form-control-lg"
        placeholder="Quantity" />

      <div *ngIf="addNewForm.controls['qty']?.errors && addNewForm.controls['qty'].dirty" class="text-danger">
        <div *ngIf="addNewForm.controls['qty']?.errors?.required">Quantity is required</div>
      </div>
    </div>

   <!-- Hình ảnh chỉnh -->
   <div class="form-group">
    <label for="mainImage">Main Image</label>
    <div class="mb-4">
      <ngx-uploadcare-widget
        public-key="99e830eafb2115021a43"
        (on-upload-complete)="onUploadComplete($event)">
      </ngx-uploadcare-widget>
    </div>
    <label for="subImages">Additional Images</label>
    <div class="mb-4 custom-widget-container">
      <div class="custom-widget">
        <ngx-uploadcare-widget
          public-key="99e830eafb2115021a43"
          (on-upload-complete)="onSubImageUploadComplete($event)">
        </ngx-uploadcare-widget>
      </div>
      <div class="custom-widget">
        <ngx-uploadcare-widget
          public-key="99e830eafb2115021a43"
          (on-upload-complete)="onSubImageUploadComplete($event)">
        </ngx-uploadcare-widget>
      </div>
      <div class="custom-widget">
        <ngx-uploadcare-widget
          public-key="99e830eafb2115021a43"
          (on-upload-complete)="onSubImageUploadComplete($event)">
        </ngx-uploadcare-widget>
      </div>
    </div>
  </div>
  
  
  
      
    <div class="form-outline mb-4">
      <input formControlName="description" type="text" id="form3Example3" class="form-control form-control-lg"
        placeholder="Description" />

      <div *ngIf="addNewForm.controls['description'].errors && addNewForm.controls['description'].dirty" class="text-danger">
        <div *ngIf="addNewForm.controls['description'].errors.required"> description is required</div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <input formControlName="expied" type="date" id="form3Example3" class="form-control form-control-lg" />
      
      <div *ngIf="addNewForm.controls['expied'].dirty && !addNewForm.controls['expied'].valid" class="text-danger">
        <div *ngIf="addNewForm.controls['expied'].errors?.required">expied is required</div>
        <div *ngIf="addNewForm.controls['expied'].errors?.invalidDate">expied must be a future date</div>
      </div>
    </div>
    
    

    <div class="form-outline mb-4">
      <select formControlName="category" (change)="onChangeCategory()" class="form-control">
        <option value="">-- Select Category --</option>
        <option *ngFor="let category of categories" [value]="category?.id">{{ category?.name | titlecase }}</option>
      </select>
      <div *ngIf="addNewForm.controls['category'].errors && addNewForm.controls['category'].dirty" class="text-danger">
        <div *ngIf="addNewForm.controls['category'].errors.required"> Category is required</div>
      </div>
    </div>

    
    <div class="form-outline mb-4">
      <select formControlName="supplier" (change)="onChangeSupplier()" class="form-control">
        <option value="">-- Select Supplier --</option>
        <option *ngFor="let supplier of suppliers" [value]="supplier?.id">{{ supplier?.name | titlecase }}</option>
      </select>
      <div *ngIf="addNewForm.controls['supplier'].errors && addNewForm.controls['supplier'].dirty" class="text-danger">
        <div *ngIf="addNewForm.controls['supplier'].errors.required"> Supplier is required</div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<hr>
<mat-dialog-actions class="d-flex justify-content-end">
  <div class="text-center">
    <button
      [style]="{
        'min-width': '80px'
      }"
      (click)="onNoClick()"
      type="button"
      class="btn btn-danger"> Cancel </button>

    <button
      [style]="{
        'min-width': '80px'
      }"
      (click)="add()"
      [disabled]="addNewForm.invalid"
      type="button"
      class="btn btn-primary m-lg-2"> Submit </button>
  </div>
</mat-dialog-actions>
