<h2 mat-dialog-title>Add New Product IMG</h2>
<hr>
<mat-dialog-content>
  <form [formGroup]="addNewForm">
    <div class="form-outline mb-4">
      <input formControlName="img" type="text" id="form3Example3" class="form-control form-control-lg"
        placeholder="IMG URL" />

        <div *ngIf="addNewForm.controls['img']?.errors && addNewForm.controls['img'].dirty" class="text-danger">
          <div *ngIf="addNewForm.controls['img']?.errors?.required">IMG is required</div>
        </div>
    </div>


    <div class="form-outline mb-4">
        <select formControlName="product" (change)="onChangeProduct()" class="form-control">
            <option value="">-- Select Product --</option>
            <option *ngFor="let singleProduct of product" [value]="singleProduct?.id">{{ singleProduct?.name | titlecase }}</option>
          </select>          
      <div *ngIf="addNewForm.controls['product'].errors && addNewForm.controls['product'].dirty" class="text-danger">
        <div *ngIf="addNewForm.controls['product'].errors.required">product is required</div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<hr>
<mat-dialog-actions class="d-flex justify-content-end">
  <div class="text-center">
    <button
      [style]="{
        'min-width': '80px'
      }"
      (click)="onNoClick()"
      type="button"
      class="btn btn-danger"> Cancel </button>

    <button
      [style]="{
        'min-width': '80px'
      }"
      (click)="add()"
      [disabled]="addNewForm.invalid"
      type="button"
      class="btn btn-primary m-lg-2"> Submit </button>
  </div>
</mat-dialog-actions>
