<h2 mat-dialog-title>Order detail</h2>
<hr>
  <table class="table" style="max-height: 500px;">
    <thead class="head">
      <tr>
        <th>No.</th>
        <th>Image</th>
        <th style="width: 300px;">Tên sản phẩm</th>
        <th style="width: 120px;">Giá </th>
        <th style="width: 50px;">Số lượng</th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let item of orders | paginate: { itemsPerPage: 5, currentPage: currentPage }; let i = index">
          <td scope="row">{{ (currentPage - 1) * 5 + i + 1 }}</td>
          <td>
            <img style="width: 50px; height: 50px; border-radius: 9rem;" src="{{ item?.pro_id.img }}">
          </td>
          <td>{{item?.pro_id.name}}</td>
          <td>{{item?.pro_id.price | currency:'VND':'symbol':'1.0-0'}}</td>
          <td>{{item?.qty}}</td>
        </tr>
      </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    <span style="margin-left: 6px; margin-top: 4px;"> {{ orders?.length }} Items </span>
  </div>
  <hr>
  <mat-dialog-actions class="d-flex justify-content-end">
  <div class="text-center">
    <button
    [style]="{
      'min-width': '100px'
    }"
    (click)="edit(order, 0)"
    type="button"
    class="btn btn-primary m-lg-2"> Chờ xác nhận
  </button>

  <button
    [style]="{
      'min-width': '100px'
    }"
    (click)="edit(order, 1)"
    type="button"
    class="btn btn-primary m-lg-2">Đã xác nhận
  </button>

  <button
    [style]="{
      'min-width': '100px'
    }"
    (click)="edit(order, 2)"
    type="button"
    class="btn btn-primary m-lg-2"> Đang giao hàng
  </button>
  <button
    [style]="{
      'min-width': '100px'
    }"
    (click)="edit(order, 3)"
    type="button"
    class="btn btn-primary m-lg-2"> Đã giao thành công
  </button>
  <button
      [style]="{
        'min-width': '100px'
      }"
      (click)="onNoClick()"
      type="button"
      class="btn btn-danger"> Cancel
    </button>

  </div>
 </mat-dialog-actions>
